.project-card {
  background-color: var(--primary);
  border: 2px solid var(--third);
  min-height: 500px;
  max-width: 340px;
  border-radius: 10px;
}

.card-top {
  position: relative;
  padding: 5px;
  max-width: 400px;
  min-width: 300px;
  min-height: 240px;
}

.project-image {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  margin: 10px auto;
  height: 100%;
  object-fit: cover;
  min-height: 180px;
  max-height: 200px;
  transition: all 0.4s ease-in;
}

.card-bottom {
  padding: 14px;
  position: relative;
  min-height: 280px;
  overflow: hidden;
}

.project-action-height-parent {
  display: table;
}
.project-action-icon-wrapper {
  display: table-row;
}

.project-title {
  font-family: "Fira Sans", sans-serif;
  color: var(--secondary);
}

.project-desc {
  font-family: "Fira Sans";
  font-size: 15px;
  text-align: justify;
  color: var(--fourth);
}

.project-div-overlay {
  background-color: #009ef6;
  position: absolute;
  left: 0;
  top: 92%;
  width: 100%;
  height: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 3;
  padding: 0 !important;
  transition: all 350ms cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  flex-flow: column;
  color: #ededed;
}

.project-action-icon-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.project-action-icon a {
  padding-top: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.6rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  border: 2px solid var(--fourth);
}

.project-action-icon a {
  font-size: 40px;
  color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project-action-icon a:hover {
  transform: scale(1.2);
  background-color: #e8f3f1;
  box-shadow: 1px -4px 57px 21px rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 1px -4px 57px 21px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: 1px -4px 57px 21px rgba(255, 255, 255, 0.45);
}

.project-action-icon a:active {
  transform: scale(0.9);
  background-color: #a2f6a8;
  box-shadow: 1px -4px 57px 21px rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 1px -4px 57px 21px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: 1px -4px 57px 21px rgba(255, 255, 255, 0.45);
}
.project-action-icon a:active i:nth-child(0) {
  color: #348742;
}

.project-action-icon a:active i:nth-child(1) {
  color: #334b49;
}
.card-bottom:hover .project-div-overlay {
  top: 10px;
  padding: 30px;
  height: 100%;
}

.card-bottom:hover {
  display: block;
}

.project-icon {
  transition: transform 0.2s ease-in;
}

.project-action-icon > a {
  text-decoration: none;
  color: var(--secondary);
}

.angle-up-icon,
.angle-down-icon {
  color: #009ef6;
  cursor: pointer;
}

.overlay-angle-circle {
  background-color: #cff5ff;
  text-align: center;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media screen and (max-width: 1200px) {
  .card-top {
    min-height: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .card-bottom {
    min-height: 250px;
  }
}
