.contact-form-container{
    padding: 50px 30px;
}

.contact-main-heading{
    text-align: center;
    color: var(--secondary);
    margin-bottom: 50px;
}

.form-wrapper{
    padding: 30px 40px;
    background-color: var(--primary);
    margin: 30px auto;
    width: 70%;
}


.contact-heading{
    height: 5rem;
    width: 100%;
    margin-bottom: 80px;
}

.contact-wrapper{
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
    
    column-gap: 30px;
}

.action-buttons-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.dcv-btn, .send-btn{
    background-color: var(--secondary) !important;
}

.links-wrapper{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    padding: 14px;
}

.links-wrapper i{
    font-size: 32px;    
}


textarea{
    resize: none;
}